* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.container {
  width: 60%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 15px;
  border: 10px solid #7fd8e6;
  border-radius: 12px;
  background-color: #ddf2f5;
  row-gap: 20px;
}

.header {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

img {
  height: 20px;
}

.cartImg {
  height: 30px;
}

.overallCount {
  font-size: 32px;
  color: #fff;
  background-color: #17a2b8;
  width: 80px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.items {
  font-size: 32px;
}

.RefreshRecycle {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.refresh,
.recycle {
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.refresh {
  background-color: #28a745;
}

.recycle {
  background-color: #007bff;
}

.buttons {
  display: flex;
  column-gap: 10px;
}

.zero,
.increment,
.decrement,
.remove {
  padding: 10px;
  font-size: 25px;
  border-radius: 5px;
  font-weight: bolder;
}

.zero {
  background-color: #ffc107;
}

.increment {
  background-color: #343a40;
}

.decrement {
  background-color: #17a2b8;
}

.remove {
  background-color: #dc3545;
}

.increment,
.decrement,
.remove {
  color: white;
  cursor: pointer;
}

.afterIncrement {
  background-color: #007bff;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
